.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


