.cards {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  width: 600px;
  height: auto;
  padding: 5px;
}

.card img {
  object-fit: cover;
  height: 100px;
}

.card h3 {
  margin-top: 10px;
  font-size: 16px
}

.card p {
  margin: 0 20px;
  opacity: 0.7;
  line-height: 1.7;
}


